*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    align-content: space-between;
    justify-content: space-between;
}



.firstrow{
    display: flex;
    justify-content: space-between;
}

.firstrow .box{
    height: 100px;
    width: 100px;
    border: 1px solid black;

}

.maincontainer2 .centremain{
    display: flex;
    flex-direction: column;
    
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 400px;


  
   
   
}


.maincontainer2 .firstrow{
    display: flex;
    align-items: center;
    
}

.centremain .second{
  display: flex;
 
   
   
}
.second .box{
    margin: 0 25px;
}


