*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue: rgba(5, 5, 226, 0.89);
    --red: red;
    --orange: orange;
    --green: green;
}

.maincontainer .main .logo {
    display: flex;
    margin-bottom: 1rem 0;
}
.maincontainer{
   
}

.maincontainer .main{
    width: 100vw;
        height: 90vh;
        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.maincontainer .main .logo h3{
    font-size: 5rem;
}

.maincontainer .main .logo .blue{
    color: var(--blue);
}
.maincontainer .main .logo .red {
    color: var(--red);
}
.maincontainer .main .logo .green {
    color: var(--green);
}
.maincontainer .main .logo .orange {
    color: var(--orange);

}

.searchinput{
    position: relative;
    margin: 1rem 0;
}
.absolute{
    position: absolute;
}

.input{
   
    padding: 0.8rem;
    padding-left: 2rem;
    border-radius: 20px;
    width: 40vw;
    outline: none;
    border: 1px solid grey;
    font-size: 1rem;
    
}

.buttons{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.buttons button{
    padding: 8px 10px;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    margin: 0 5px;
}

.links {
    display: flex;
    font-size: 14px;
    color: grey;
    margin: 1rem 0;
}

.links a{
    margin: 0 5px;
    text-decoration: none;
    
}

.fa-magnifying-glass{
    
}

.searchinput .icons1{
   
    left: 10px;
top:13px;
color: grey;
}
.searchinput .icons2 {
right: 10px;
top: 13px;
color: rgba(5, 113, 246, 0.923);

}