.container{
    height: 150vh;
    width: 100vw;
}
.container nav{
    
    position: sticky;
    bottom: 0;
    top: 0;
    /* the  */
}

.container nav ul li{
    display: inline;
        list-style-type: none;
        padding: 0 10px;
        border: 1px solid black;
}